$clrBlack: #333333;
$clrTextInactive: #666666;
$clrBg: #fcfcf8;

$clrUltraLightGrey: #f0f2ec;
$clrExtraLightGrey: #dedede;
$clrGreen: #5ba641;
$clrButton: #7abf62;
$clrButtonPressed: #46922b;
$clrLinkBorder: rgba(91, 166, 65, 0.3);
$clrPagination: #f5d58f;
$clrCardBg: #fbfcfa;
$clrBlue: #3cbffd;
$clrDarkBlue: #4499f5;
$clrLightBlue: #f1f5f8;
$clrGrey: #696969;
$clrLightGrey: #797c88;
$clrDarkGrey: #464646;
$clrUltraDarkGrey: #414141;
$clrWhite: #ffffff;
$clrLightGreen: #15be58;
$clrDarkBlack: #272727;
$clrPink: #c36f9d;
$clrLightPink: #fb7f9b;
$clrRed: #f70035;

$shadowCard: 0 5px 20px rgba(47, 61, 2, 0.1);
$shadowCardHover: 0 10px 30px rgba(47, 61, 2, 0.15);
