.filter {
	display: flex;
	justify-content: center;
	margin: 0 auto;

	.filter_select-checkbox-wrapper {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;

		.filter_select {
			cursor: pointer;
			margin-right: 20px;

			@include for-mobile {
				margin-right: 15px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.filter_label {
			cursor: initial;
			font-size: 16px;
			font-weight: 500;
			line-height: 26px;
		}

		.filter_select_block {
			position: relative;

			&._active {
				@include for-mobile {
					position: fixed;
					z-index: 50;
					top: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100vh;
					background: rgba(43, 43, 43, 0.5);
					padding-top: 100px;
				}

				.filter_select_current {
					justify-content: center;
					background: #1f85be;

					@include for-mobile {
						width: 100%;
						height: 54px;
						background: #f1f5f8;
						border-radius: 0;

						p {
							font-size: 20px;
							font-weight: 600;
							line-height: 20px;
							color: $clrDarkBlack;
						}
					}

					&._disable_placeholder {
						border: none;
					}

					&::after {
						content: attr(data-active-placeholder);
						font-weight: 600;
						font-size: 18px;
						line-height: 22px;
						text-align: center;
						color: $clrWhite;

						@include for-mobile {
							font-size: 20px;
							font-weight: 600;
							line-height: 20px;
							color: $clrDarkBlack;
						}
					}

					p {
						display: none;
						background: none;
						color: $clrWhite;
					}

					.filter_select_close_button {
						@include for-mobile {
							display: block;
						}
					}
				}

				.filter_select_reset_button {
					display: none;
				}

				.filter_select_list {
					display: block;
				}

				.filter_buttons {
					&._mobile {
						@include for-mobile {
							display: flex;
						}
					}
				}
			}
		}

		.filter_input_block {
			position: relative;

			input {
				height: 39px;
				line-height: 39px;
				white-space: nowrap;
				box-shadow: inset 0 1px 2px rgba(140, 140, 140, 0.5);
				border-radius: 2px;
				padding: 0 16px 0 16px;
				background: #fff;
				position: relative;
				overflow: hidden;
				width: 100%;
			}
		}

		.filter_select_current {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 224px;
			height: 46px;
			background: $clrBlue;
			border-radius: 30px;
			transition: all 0.3s ease;
			white-space: nowrap;
			padding: 0 15px;

			@include for-mobile {
				width: 138px;
				height: 36px;
				transition: none;
				padding: 0 10px;
			}

			&:hover {
				@media (min-width: 768px) {
					background: #1f85be;
					p {
						background: none;
					}
				}
			}

			&._disable_placeholder {
				justify-content: space-between;
				border: 2px solid $clrLightPink;
				background: transparent;

				p {
					color: $clrLightPink;
					background: none;
				}
			}

			p {
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				text-align: center;
				color: $clrWhite;
				background-image: linear-gradient(to right, $clrWhite 50%, transparent 50%);
				background-repeat: repeat-x;
				background-position: 0 95%;
				background-size: 6px 1px;

				@include for-mobile {
					max-width: 95px;
					overflow: hidden;
					font-size: 13px;
					line-height: 16px;
				}

				span {
					font-weight: 800;
				}
			}

			.filter_select_close_button {
				display: none;
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				width: 14px;
				height: 14px;

				&::before,
				&::after {
					content: "";
					position: absolute;
					right: 50%;
					top: -2px;
					transform: rotate(45deg);
					height: 18px;
					width: 2px;
					background-color: $clrDarkBlack;
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}

		.filter_select_reset_button {
			display: none;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;

			@include for-mobile {
				right: 10px;
			}

			&._active {
				display: block;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 50%;
				top: -2px;
				transform: rotate(45deg);
				height: 15px;
				width: 2px;
				background-color: $clrLightPink;
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		.filter_select_list {
			display: none;
			position: absolute;
			z-index: 3;
			width: 261px;
			top: calc(100% + 9px);
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
			cursor: initial;
			padding: 20px;

			@include for-mobile {
				overflow-y: scroll;
				top: 154px;
				width: 100%;
				height: calc(100vh - 209px);
				box-shadow: none;
				background: #f1f5f8;
				border-right: 15px solid #f1f5f8;
				padding: 0;
			}

			&::-webkit-scrollbar {
				width: 6px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #373737;
				border-radius: 5px;
			}
		}

		.filter_select_item {
			white-space: nowrap;
			cursor: pointer;
			margin-bottom: 19px;

			@include for-mobile {
				width: calc(100% - 8px);
				border-bottom: 1px solid #dae5ee;
				padding: 15px;
				margin-bottom: 0;
			}

			&._active {
				@include for-mobile {
					background: #dae6ee;
					border-bottom: 1px solid #f1f5f8;
				}

				p {
					font-weight: 600;
					color: #2c3044;

					&::before {
						border-color: #8a8a8a;
					}
					&::after {
						display: block;

						@include for-mobile {
							display: none;
						}
					}
				}
			}

			p {
				position: relative;
				font-size: 16px;
				line-height: 16px;
				color: #2c3044;
				padding-left: 25px;

				@include for-mobile {
					padding-left: 0;

					&::before,
					&::after {
						display: none;
					}
				}

				&::before {
					content: "";
					position: absolute;
					width: 15px;
					height: 15px;
					left: -1px;
					top: 1px;
					border: 2px solid #c0c0c0;
					border-radius: 2px;
				}

				&::after {
					display: none;
					content: "";
					position: absolute;
					background-image: url("/img/checkbox_pin.svg");
					background-repeat: no-repeat;
					background-size: 100%;
					width: 10px;
					height: 9px;
					top: 4px;
					left: 1px;
				}

				&:hover {
					@media (min-width: 768px) {
						font-weight: 600;
						color: #2c3044;
					}
				}
			}
		}

		.filter_check {
			height: 26px;
			padding-left: 22px;
			position: relative;
			cursor: pointer;
			white-space: nowrap;
			margin: 15px 15px 0 0;

			@include for-pad {
				width: calc((100% / 3) - 10px);
			}

			@include for-mobile {
				width: 100%;
				margin: 20px 15px 0 0;
			}

			&:before {
				background: transparent;
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				border: 1px solid #333333;
				border-radius: 2px;
				left: 0;
				top: 0;
			}

			&:after {
				content: "";
				position: absolute;
				width: 5px;
				height: 9px;
				left: 6px;
				transform: rotate(45deg);
				top: 2px;
				will-change: transform;
			}

			&._checked:after {
				border-bottom: 2px solid #d83603;
				border-right: 2px solid #d83603;
			}

			.filter_check_item {
				position: relative;
				top: -3px;
			}

			p {
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}
		}

		.input_wrapper {
			input {
				width: 135px;
				padding: 0 20px 0 16px;
				line-height: 40px;
				background-color: white;
				box-shadow: inset 0px 1px 2px rgba(140, 140, 140, 0.5);
				border-radius: 2px;
				font-size: 16px;
				font-weight: 500;
			}

			.calendar_wrapper {
				position: relative;
			}

			.open_calendar_button {
				position: absolute;
				top: -40px;
				left: 0;
				width: 135px;
				height: 40px;

				&:before {
					content: "";
					cursor: pointer;
					position: absolute;
					top: 9px;
					right: 10px;
					width: 20px;
					height: 20px;
					background: url("/img/calendar_icon.svg");
				}

				&:hover:before {
					background: url("/img/calendar_icon_active.svg");
				}
			}

			.open_calendar_button._active {
				&:before {
					background: url("/img/calendar_icon_active.svg");
				}
			}

			.calendar_container {
				top: -2px;
				left: 77px;

				@include for-pad {
					left: 0px;

					.calendar:before {
						left: 106px;
					}
				}

				@include for-mobile {
					left: -20px;

					.calendar:before {
						left: 127px;
					}
				}
			}
		}
	}

	.filter_buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include for-mobile {
			display: none;
		}

		&._mobile {
			display: none;
			position: fixed;
			z-index: 10;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 56px;
			background: #dae5ee;
			padding: 0 15px;
		}

		.filter_submit {
		}

		.filter_submit_button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 128px;
			width: 128px;
			height: 24px;
			background: $clrRed;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			white-space: nowrap;

			@include for-mobile {
				flex: 0 0 130px;
				width: 130px;
				height: 30px;
			}
		}

		.filter_reset {
		}

		.filter_reset_button {
			cursor: pointer;
			width: fit-content;
			font-weight: 600;
			font-size: 14px;
			line-height: 14px;
			color: #2c3044;
			background-image: linear-gradient(to right, #2c3044 50%, transparent 50%);
			background-repeat: repeat-x;
			background-position: 0 100%;
			background-size: 6px 1px;

			@include for-mobile {
				background: none;
			}
		}
	}
}
