footer {
	background-color: $clrLightBlue;

	@include for-mobile {
		border-top: 1px solid #e1e7eb;
	}

	.footer_container {
		max-width: 1440px;
		margin: 0 auto;

		@include for-lowdesc {
			width: calc(100% - 40px);
		}

		@include for-mobile {
			width: calc(100% - 30px);
		}
	}

	.footer_wrap {
		padding: 14px 0 17px;

		@include for-mobile {
			padding: 20px 0;
		}

		.footer_row {
			display: flex;
			// justify-content: space-between;
			align-items: center;

			@include for-mobile {
				flex-direction: column;
			}

			// .footer_block {
			// &._left {
			// 	display: flex;
			// 	align-items: center;
			// }

			// &._right {
			// 	display: flex;
			// 	flex-direction: column;
			// 	align-items: flex-end;
			// }

			.footer_logo {
				width: 277px;
				height: 35px;
				margin-right: 86px;

				@include for-laptop {
					margin-right: 30px;
				}

				@include for-mobile {
					width: 237px;
					height: 30px;
					margin-right: 0;
					margin-bottom: 6px;
				}

				// img {
				// 	width: 277px;

				// 	@include for-mobile {
				// 		width: 237px;
				// 	}
				// }
			}

			.footer_info {
				font-size: 12px;
				font-weight: 500;
				margin-top: 4px;

				@include for-mobile {
					order: 2;
					font-size: 14px;
					text-align: center;
				}

				.footer_copy {
					color: $clrDarkBlack;

					@include for-mobile {
						line-height: 14px;
					}
				}

				.footer_pc {
					@include for-mobile {
						line-height: 14px;
					}
				}
			}

			.footer_phone {
				margin-left: auto;

				@include for-mobile {
					order: 1;
					margin-left: 22px;
					margin-bottom: 7px;
				}

				a {
					@include for-mobile {
						background: none;
						padding-left: 0;
					}
				}
			}
			// }
		}
	}
}
