header {
	background: url("/img/header_bg.svg") no-repeat center bottom / cover;
	padding-bottom: 67px;
	margin-bottom: 51px;

	@include for-notdesc {
		padding-bottom: 50px;
	}

	@include for-laptop {
		margin-bottom: 10px;
	}

	@include for-mobile {
		padding-bottom: 29px;
		margin-bottom: 9px;
	}

	&._index {
		background: url("/img/header_main_bg.svg") no-repeat center bottom / cover;
		padding-bottom: 83px;
		margin-bottom: 1px;

		@include for-lowlap {
			padding-bottom: 60px;
		}

		@include for-laptop {
			padding-bottom: 50px;
		}

		@include for-mobile {
			margin-bottom: 21px;
		}

		@media (max-width: 510px) {
			padding-bottom: 32px;
		}

		.header_wrap {
			.header_offer {
				display: block;
			}
		}
	}

	// &._item {
	// 	&._active {
	// 		.header_wrap {
	// 			.header_top {
	// 				position: relative;
	// 			}
	// 		}
	// 	}
	// }

	// &._active {
	// 	.header_wrap {
	// 		.header_top._sticky_header {
	// 			position: fixed;
	// 			z-index: 50;
	// 			flex-direction: row;
	// 			top: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			background-color: #f6f8fa;
	// 			animation-name: fadeIn;
	// 			animation-duration: 0.5s;
	// 			padding: 25px calc(50% - 720px) 27px;

	// 			@include for-lowdesc {
	// 				padding: 25px 20px 27px;
	// 			}

	// 			@include for-mobile {
	// 				flex-direction: row;
	// 				padding: 10px 15px;
	// 			}

	// 			@keyframes fadeIn {
	// 				from {
	// 					opacity: 0;
	// 				}
	// 				to {
	// 					opacity: 1;
	// 				}
	// 			}

	// 			.header_logo {
	// 				width: 35px;
	// 				height: 30px;
	// 				background: url("/img/logo_icon.svg") no-repeat center / contain;

	// 				@include for-laptop {
	// 					order: unset;
	// 					text-align: center;
	// 				}

	// 				@include for-mobile {
	// 					width: 23px;
	// 					height: 20px;
	// 				}
	// 			}

	// 			.header_phone {
	// 				transform: translateX(148px);
	// 				padding-top: 0;

	// 				@include for-laptop {
	// 					order: unset;
	// 					transform: translateX(100px);
	// 					padding-top: 0;
	// 				}

	// 				@include for-mobile {
	// 					width: calc(100% - 23px);
	// 					transform: translateX(0);
	// 					padding-right: 23px;
	// 				}
	// 			}

	// 			.header_buttons {
	// 				padding-top: 0;

	// 				@include for-laptop {
	// 					display: flex;
	// 					order: unset;
	// 					width: auto;
	// 					margin-bottom: 0;
	// 				}

	// 				@include for-mobile {
	// 					display: none;
	// 				}

	// 				.header_button {
	// 					position: relative;
	// 					display: flex;
	// 					align-items: flex-start;
	// 					cursor: pointer;
	// 					white-space: nowrap;
	// 					padding-left: 25px;

	// 					@include for-laptop {
	// 						width: auto;
	// 						flex: 0 0 auto;
	// 						padding: 0 0 0 20px;
	// 					}

	// 					&:not(:first-of-type) {
	// 						@include for-laptop {
	// 							margin-left: 30px;
	// 						}
	// 					}

	// 					&.header_button_choose {
	// 						@include for-laptop {
	// 							background-color: transparent;
	// 						}

	// 						span {
	// 							@include for-laptop {
	// 								background-image: linear-gradient(to right, $clrBlue 50%, transparent 50%);
	// 							}
	// 						}
	// 					}

	// 					&.header_button_favorite {
	// 						@include for-laptop {
	// 							background-color: transparent;
	// 						}

	// 						span {
	// 							@include for-laptop {
	// 								background-image: linear-gradient(to right, $clrBlue 0, $clrBlue 100%);
	// 							}
	// 						}
	// 					}

	// 					span {
	// 						@include for-laptop {
	// 							color: $clrBlue;
	// 						}

	// 						&:before {
	// 							@include for-laptop {
	// 								filter: none;
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.header_wrap {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;

		@include for-lowdesc {
			width: calc(100% - 40px);
		}

		@include for-laptop {
			width: 100%;
		}

		.header_top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 21px 0;

			@include for-laptop {
				flex-direction: column;
				padding-top: 0;
				padding-bottom: 10px;
			}

			.header_logo {
				@include for-laptop {
					order: 1;
					text-align: center;
				}
			}

			.header_phone {
				padding-top: 13px;
				margin: 0 20px;

				@include for-lowlap {
					margin: 0 10px;
				}

				@include for-laptop {
					order: 2;
					text-align: center;
					padding-top: 12px;
				}

				@include for-mobile {
					padding-top: 6px;
				}

				@media (max-width: 510px) {
					padding-top: 8px;
				}
			}

			.header_buttons {
				display: flex;
				padding-top: 14px;

				@include for-laptop {
					order: 0;
					width: 100%;
					padding-top: 0;
					margin-bottom: 22px;
				}

				.header_button {
					position: relative;
					display: flex;
					align-items: flex-start;
					cursor: pointer;
					white-space: nowrap;
					padding-left: 25px;

					@include for-laptop {
						width: 50%;
						flex: 0 0 50%;
						justify-content: center;
						padding: 10px 0 12px 20px;
					}

					&:not(:first-of-type) {
						margin-left: 40px;

						@include for-lowlap {
							margin-left: 30px;
						}

						@include for-laptop {
							margin-left: 0;
						}
					}

					&.header_button_choose {
						@include for-laptop {
							background-color: #ff829d;
						}

						span {
							background-image: linear-gradient(to right, $clrBlue 50%, transparent 50%);
							background-size: 6px 1px;
							position: relative;

							@include for-laptop {
								background-image: linear-gradient(to right, $clrWhite 50%, transparent 50%);
							}

							&:before {
								background: url("/img/arrow_choose_hall.svg") no-repeat left center / contain;
							}
						}
					}

					&.header_button_favorite {
						@include for-laptop {
							background-color: #c46f9d;
						}

						a {
							@include for-laptop {
								background-image: linear-gradient(to right, $clrWhite 0, $clrWhite 100%);
							}

							&:before {
								background: url("/img/favorites_star_icon.svg") no-repeat left center / contain;
							}
						}
					}

					span, a {
						position: relative;
						font-size: 18px;
						font-weight: 600;
						background-position: 0 100%;

						@include for-laptop {
							font-size: 14px;
							color: $clrWhite;
						}

						&:before {
							content: "";
							position: absolute;
							top: 2px;
							left: -25px;
							width: 18px;
							height: 18px;

							@include for-laptop {
								left: -20px;
								width: 14px;
								height: 14px;
								filter: brightness(99);
							}
						}
					}
				}
			}

			&._sticky_header {
				// opacity: 0;
				position: fixed;
				z-index: 50;
				flex-direction: row;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #f6f8fa;
				animation-name: fadeIn;
				animation-duration: 0.3s;
				padding: 25px calc(50% - 720px) 27px;

				@include for-lowdesc {
					padding: 25px 20px 27px;
				}

				@include for-mobile {
					flex-direction: row;
					padding: 10px 15px;
				}

				@keyframes fadeIn {
					from {
						opacity: 0;
					}
					to {
						opacity: 1;
					}
				}

				.header_logo {
					width: 35px;
					height: 30px;
					background: url("/img/logo_icon.svg") no-repeat center / contain;

					@include for-laptop {
						order: unset;
						text-align: center;
					}

					@include for-mobile {
						width: 23px;
						height: 20px;
					}
				}

				.header_phone {
					transform: translateX(148px);
					padding-top: 0;

					@include for-laptop {
						order: unset;
						transform: translateX(100px);
						padding-top: 0;
					}

					@include for-mobile {
						width: calc(100% - 23px);
						transform: translateX(0);
						padding-right: 23px;
					}
				}

				.header_buttons {
					padding-top: 0;

					@include for-laptop {
						display: flex;
						order: unset;
						width: auto;
						margin-bottom: 0;
					}

					@include for-mobile {
						display: none;
					}

					.header_button {
						position: relative;
						display: flex;
						align-items: flex-start;
						cursor: pointer;
						white-space: nowrap;
						padding-left: 25px;

						@include for-laptop {
							width: auto;
							flex: 0 0 auto;
							padding: 0 0 0 20px;
						}

						&:not(:first-of-type) {
							@include for-laptop {
								margin-left: 30px;
							}
						}

						&.header_button_choose {
							@include for-laptop {
								background-color: transparent;
							}

							span {
								@include for-laptop {
									background-image: linear-gradient(to right, $clrBlue 50%, transparent 50%);
								}
							}
						}

						&.header_button_favorite {
							@include for-laptop {
								background-color: transparent;
							}

							span {
								@include for-laptop {
									background-image: linear-gradient(to right, $clrBlue 0, $clrBlue 100%);
								}
							}
						}

						span {
							@include for-laptop {
								color: $clrBlue;
							}

							&:before {
								@include for-laptop {
									filter: none;
								}
							}
						}
					}
				}
			}
		}

		.header_offer {
			display: none;
			text-align: center;
			margin-top: 27px;

			@include for-lowlap {
				margin-top: 8px;
			}

			@include for-mobile {
				width: calc(100% - 30px);
				margin: 8px auto 0;
			}

			@media (max-width: 510px) {
				margin: 19px auto 0;
			}

			.header__title {
				max-width: 850px;
				background: url("/img/h1_bg.jpg?v2") center 24% / cover;
				margin: 0 auto 11px;

				@include for-lowlap {
					margin: 0 auto 5px;
				}

				@include for-laptop {
					max-width: 600px;
				}

				@include for-mobile {
					max-width: 420px;
				}

				@media (max-width: 510px) {
					max-width: 320px;
				}

				h1 {
					background: linear-gradient(to bottom, #fafcfd 0, #f6f9fb 100%);
					mix-blend-mode: lighten;
					font-size: 64px;
					line-height: 75px;
					font-weight: 900;
					letter-spacing: 0.02em;
					text-transform: uppercase;

					@include for-lowlap {
						font-size: 50px;
						line-height: 59px;
					}

					@include for-laptop {
						font-size: 40px;
						line-height: 47px;
					}

					@include for-mobile {
						font-size: 30px;
						line-height: 35px;
					}

					@media (max-width: 510px) {
						font-size: 24px;
						line-height: 28px;
					}
				}
			}

			.header__text {
				font-size: 24px;
				line-height: 26px;
				font-weight: 600;
				color: $clrDarkGrey;

				@include for-lowlap {
					font-size: 20px;
					line-height: 22px;
				}

				@include for-laptop {
					font-size: 18px;
					line-height: 20px;
				}

				@include for-mobile {
					font-size: 16px;
					line-height: 18px;
				}

				@media (max-width: 510px) {
					width: 250px;
					margin: 0 auto;
				}
			}
		}
	}
}
