<div data-page-type="blog">

	<div class="content_block items_list_blog" data-blog-wrapper>
		
		{{ this.render('//components/generic/breadcrumbs.twig', {'breadcrumbs':seo.breadcrumbs}) | raw }}
		
		<div class="content_block" data-listing-title>
			<div class="content_block_wrap">
				<a href="/" class="link_back"><span>Назад</span></a>
				<div class="title">
					<h1>{{seo.h1}}</h1>
				</div>
			</div>
		</div>

		<div class="items_list" data-blog-list>
			<div id="w0" class="list-view">
				{% for post in posts %}
					{{ this.render('//blog/_list-item.twig', {post}) | raw }}
				{% endfor %}
				<div></div>
			</div>
			
		</div>
		<div class="content_block pagination">
			{{pagination|raw}}		
		</div>

	</div>

</div>